### API server
API_HOST=0.0.0.0
API_PORT=10000
API_URL=http://127.0.0.1:10001

### Upstream LLM service (gomall)
GOMALL_BASE_URL=http://10.208.61.1:32004/api/v1/1504_gomall_qwen3/Qwen3-30B-A3B-Instruct-2507/
GOMALL_API_KEY=sk-xx

### Local rerank service
RERANK_BASE_URL=
RERANK_API_KEY=

### Model configs
LLM_NAME=Qwen3-30B-A3B-Instruct-2507
LLM_PATH=G:/pretrained_models/llm/glm-4-9b-chat
LLM_SERVICE=online

EMBEDDING_NAME=G:/pretrained_models/mteb/bge-large-zh-v1.5
EMBEDDING_PATH=G:/pretrained_models/mteb/bge-large-zh-v1.5
EMBEDDING_SERVICE=local

RERANKER_NAME=G:/pretrained_models/mteb/bge-reranker-large
RERANKER_PATH=G:/pretrained_models/mteb/bge-reranker-large
RERANKER_SERVICE=local

### Paths
DOCS_PATH=G:/Projects/TrustRAG/data/docs
INDEX_PATH=G:/Projects/TrustRAG/examples/retrievers/dense_cache

### Rewriter tool
REWRITER_API_URL=http://10.208.61.1:32004/api/v1/1504_gomall_qwen3/Qwen3-30B-A3B-Instruct-2507/